/**
  Optional UX styling
  -----------------------------------
  Add any CSS that is part of the optional UX styling below
 */
nav a {
  text-decoration: none;
}

/**
  This is additional styling to make the content box look less clunky
  and follows a flat-design pattern
*/
#content_container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: none !important;
  border-radius: 2px;
}

#new_project_button {
  color: white;
}

a {
  border-radius: 2px;
}

#results tr td{
  text-align: center;
}


/**
  JavaScript Modifications
  -----------------------------------
  If you made any changes to JavaScript in order to improve the UX, you must explain them below. Note that any changes
  that break the core functionality will indeed count against the marks for that required functionality. In other words,
  don't break something to make it cool.




 */