/**
  Optional UX styling
  -----------------------------------
  Add any CSS that is part of the optional UX styling below
 */

body {
  background-color: #f5f5f5;
}
 
nav a {
  text-decoration: none;
}

/**
  This is additional styling to make the content box look less clunky
  and follows a flat-design pattern
*/
#content_container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: none !important; /* override the default border as defined in the instructions since it hinders the affect of the page separation created by the box-shadow */
  border-radius: 4px;
  background-color: #fff;
}

#new_project_button {
  color: white;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0,0,0,.12);
}

a {
  border-radius: 4px;
  text-decoration: none;
}

/**
  Make the table look more uniform
*/

table {
  border-collapse: collapse;
}

#results tr td{
  text-align: center;
}

/**
  Add some spaces to the track form to make things
  look less cluttered and squished together
  and customized the buttons to stand out
*/

#track_form {
  padding: 10px;
  margin-right: 20px;
  font-size: 16px;
  border-radius: 2px;
}

#start_button {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0,0,0,.12);
  text-transform: uppercase;
}

#stop_button {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0,0,0,.12);
  text-transform: uppercase;

}

/**
  Customizing Hover effect on nav to show text 
*/

nav a:hover {
  color: #009900;
}


/**
  JavaScript Modifications
  -----------------------------------
  If you made any changes to JavaScript in order to improve the UX, you must explain them below. Note that any changes
  that break the core functionality will indeed count against the marks for that required functionality. In other words,
  don't break something to make it cool.




 */