/********
    Template:
        small-spacing : 5px
        big-spacing : 10px
        light-neutral-colour : #CDCDCD
        dark-neutral-colour : #343434
        bright-colour: #356915
*********/

#reports_filter_form
{
    background-color: #CDCDCD;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

#results
{
    width: 100%;

}
#results th
{
    background-color: #CDCDCD;
}
tbody
{
    width: 100%;
}

tbody td
{
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #CDCDCD;
    padding: 5px;
    text-align: center;
}

