#reports_filter_form
{
    background-color: lightcyan;
    color:brown;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#results
{
    width: 100%;

}
#results th
{
    background-color: lightcyan;
}
tbody
{
    width: 100%;
}
tbody tr
{
    border-bottom: 1px solid  lightcyan;
}
tbody th
{
    border-left: none;
    border-right: none;
    padding: 5px;
    text-align: center;
}