/********
    Template:
        small-spacing : 5px
        big-spacing : 10px
        light-neutral-colour : #CDCDCD
        dark-neutral-colour : #343434
        bright-colour: #356915
*********/

#timer_container a {
    text-align: center;
    font-size: 28px;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
}

#timer_container a:hover {
    opacity: 80%;
}

#start_button {
    background-color: #009900;
}

#stop_button {
    background-color: #990000;
}

#track_form {
    margin-bottom: 10px;
    background-color: #CDCDCD;
    color: #343434;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#counter{
    position: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 80px;
}